* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e6e6e6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: black;
}



.delete {
    margin-left: 20px;
    background-color: aqua;
    cursor: pointer;
}

#addbtn {
    cursor: pointer;
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    background-color: black;
    border: none;
    color: white;
    font-family: inherit;
}

.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: rgb(207, 16, 16);
    padding: 1rem;
    border-radius: 0.3rem;
    margin-bottom: 0.3rem;
}

.content {
    border-radius: 1rem;
    background-color: white;
    width: 450px;
    padding: 3rem;
}